
$button-background: #e5e4e2;
$button-hover: #dedede;
$button-active: #cccccc;

.task-box {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px 20px 15px;
    user-select: none;

    .text-box-a  {
        margin-top: 9px;
        width: 100%;
    }

    .text-box-b  {
        margin-top: 9px;
        width: 100%;
        text-decoration: line-through;
    }

    .checkbox-box   {
        margin: 0 10px 0 auto;
        display: flex;
        padding: 10px 5px 0 10px;
        font-size: 13.5px;
    }

    .checkbox { 
        width: 15px;
        margin-top: 1px;
        margin-right: 10px;
        cursor: pointer; 
    }

    button {
        width: 70px;
        height: 35px;
        cursor: pointer;
        background-color: $button-background;
        border: none;
        padding: 0 5px 0 5px;

    &:hover {
        background-color: $button-hover;
    }

    &:active {
        background-color: $button-active;
        }
    }
}

.colorDone { background-color: lightgreen; }
.colorNormal { background-color: white; }
.colorImportnant { background-color: #ffff66; }
.colorVeryImportant { background-color: #eba5a5; }

.colorDoneDark { background-color: #d9d9d9; }
.colorNormalDark { background-color: white; }
.colorImportnantDark { background-color: #e9e9e9; }
.colorVeryImportantDark { background-color: #b7b7b7; }