
.tip {
    position: fixed;
    bottom: 0px;
    left: -10px;
    cursor: pointer;
    transition: 0.1s;

    &:hover {
        opacity: 0.9;
        transform: rotate( -1deg );
        transition: 0.1s;
    }
}

.tipHidden {
    position: fixed;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
    transition: 0.1s;

    &:hover {
        opacity: 0.9;
        transform: rotate( -5deg );
        transition: 0.1s;
    }
}