
.box {
  width: 400px;
  text-align: center;
  margin: 100px auto auto auto;

  input {
    height: 25px;
    margin-top: 10px;
  }

  button {
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
    padding: 5px;
  }
}