
$clear-button-light: #ffffff;
$clear-button-border-light: #185abd;
$clear-button-active-light: #15448b;

$clear-button-dark: #ffffff;
$clear-button-border-dark: #5c5c5c;
$clear-button-active-dark: #454545;

.caption {
    display: flex;
    padding: 0 15px 0 15px;

    justify-content: space-between;

    .caption-mode {
        user-select: none;
        cursor:pointer;

    &:hover {
        opacity: 0.8;
    }}
}

h2 {
    margin-top: 10px;
    color: #6c757d;
}

.button {
    width: 110px;
    height: 45px;
    cursor: pointer;
    transition: 0.1s;
    border-radius: 5px;
}

.buttonLight {
    background-color: $clear-button-light;
    border: 1px solid $clear-button-border-light;

    &:hover {
        background-color: $clear-button-border-light;
        color: $clear-button-light;
        transition: 0.1s;
    }

    &:active {
        background-color: $clear-button-active-light;
    }
}

.buttonDark {
    background-color: $clear-button-dark;
    border: 1px solid $clear-button-border-dark;
    
    &:hover {
        background-color: $clear-button-border-dark;
        color: $clear-button-dark;
        transition: 0.1s;
    }
    
    &:active {
        background-color: $clear-button-active-dark;
    }
}