
$clear-button: #ffffff;
$clear-button-border: #185abd;
$clear-button-active: #15448b;

.caption {
    display: flex;
    padding: 0 15px 0 15px;

    justify-content: space-between;

    .caption-mode {
        user-select: none;
        cursor:pointer;

    &:hover {
        opacity: 0.8;
    }}
}

h2 {
    margin-top: 10px;
    color: #6c757d;
}

button {
    width: 110px;
    height: 45px;
    cursor: pointer;
    background-color: $clear-button;
    border: 1px solid $clear-button-border;
    transition: 0.1s;
    border-radius: 5px;

    &:hover {
        background-color: $clear-button-border;
        color: $clear-button;
        transition: 0.1s;
    }

    &:active {
        background-color: $clear-button-active;
    }
}