header {
    div {
        width: 100%;
        display: inline-flex;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    
    .logo {
        width: 250px;
        margin: auto;
        }

    h2 {
        margin-top: 20px;
        text-align: center;
    }
}